@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?vac71i');
  src:  url('../fonts/icons.eot?vac71i#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?vac71i') format('truetype'),
    url('../fonts/icons.woff?vac71i') format('woff'),
    url('../fonts/icons.svg?vac71i#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]::before, [class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-yes:before {
  content: "\e901";
  color: #ffc529;
  margin-right: 10px;
}
._icon-phone:before {
  content: "\e902";
  color: #ffc529;
  margin-right: 10px;
}
._icon-e-mail:before {
  content: "\e903";
  color: #ffc529;
  margin-right: 10px;
}
._icon-geo-map:before {
  content: "\e904";
  color: #ffc529;
  margin-right: 10px;
}
._icon-facebook:before {
  content: "\e905";
  margin-right: 10px;
}
._icon-instagram:before {
  content: "\e900";
  margin-right: 10px;
}
