/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
}
.flex-mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hed__bg {
    position: fixed;
    background: #00000071;
    width: 100vw;
}
.hed {
    height: 97px;
}
.hed__logo {
    display: flex;
    align-items: center;
}
.hed__logo img {
    margin-right: 10px;
}
.hed__logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    text-decoration-line: none;
}
.hed__logo span {
    -webkit-text-stroke: 1px #fff;
    color: #0000;
    margin-right: 10px;
}
.hed__contact a {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #ffc529;
    text-decoration-line: none;
    margin-right: 33px;
}
.hed__contact a i:hover {
    text-shadow: 0 0 10px #ffc529;
}
.item-hed__callback {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #fff;
    height: 45px;
    width: 186px;
    background: #FFC529;
    box-shadow: 0px 0px 20px #FFD35D;
    border-radius: 100px;
    border: none;
    margin-right: 18px;
    cursor: pointer;
}
.hed__lang {
    width: 142px;
    height: 45px;
    background: #232421;
    border: 1px solid #606060;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hed__lang li span {
    border: solid #606060;
    border-width: 0 1.2px 1.2px 0;
    transform: rotate(45deg);
    padding: 5px;
    display: inline-block;
    position: relative;
    bottom: 3px;
    margin-left: 10px;
}
.hed__lang a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #E1E1E1;
    text-decoration-line: none;
}
.hed__lang a::before {
    content: url('../img/RU.png');
    margin-right: 7px;
}
.selection-cars__BG {
    background-image: url('../img/topBG.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    padding-bottom: 80px;
    box-sizing: border-box;
    background-position: center;
}
.selection-cars {
    padding-top: 120px;
}
.item-menu {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    list-style-type: none;
}
.item-menu a {
    color: #fff;
    text-decoration-line: none;
}
.selection-cars__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 64px;
    line-height: 87px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 83px;
}
.selection-cars__title span {
    display: inline-block;
    font-size: 80px;
    line-height: 109px;
    -webkit-text-stroke: 2px #fff;
    color: #0000;  
}
.selection-cars__services {
    display: flex;
    justify-content: space-between;
    margin: 135px 310px 0;
}
.services-items__first-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background: linear-gradient(241.85deg, rgba(255, 255, 255, 0.4) 29.01%, rgba(255, 255, 255, 0) 84.65%);
}
.services-items__first-cont div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 151.67px;
    height: 151.43px;
    background: linear-gradient(228.25deg, rgba(255, 255, 255, 0.5) 20.77%, rgba(255, 255, 255, 0) 92.55%);
    clip-path: polygon(0% 0%, 0% 150%, 200% 0%, 50% 0%, 50% 50%, 0% 50%);
    border-radius: 50%;
}
.services-items img {
    position: relative;
    z-index: 2;
    background-color: #ffc529;
    border: 4.5px solid #ffc529;
    border-radius: 50%;
    box-sizing: border-box;
}
.services-items figcaption {
    margin-top: 11px;
}
.services-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
}
.services-text span {
    margin-left: 10px;
    font-weight: 700;
}

.advantages {
    margin-top: 170px;
}
.advantages-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 70px;
}
.advantages-title span {
    margin-left: 10px;
    font-weight: 700;
}
.case-advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-advantages {
    display: flex;
    align-items: end;
    max-width: 358px;
}
.item-advantages {
    margin-right: 18px;
}
.text-advantages {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #555555;
    margin-top: 9px;
}
.services {
    margin: 106px auto 150px;
    text-align: center;
}
.services-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
.services-title span {
    font-weight: 700;
    margin-left: 10px;
}
.services-container {
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
}
.services-box {
    text-align: center;
}
.services-item__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 31px;
}
.services-item__title span {
    font-weight: 700;
    margin-left: 10px;
}
.services-item__params {
    display: flex;
}
.services-item__params {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
    margin-bottom: 20px;
}
.services-item__params i {
    color:#ffc529;
    margin-right: 9px;
}
.push__servines-form {
    margin: 24px 0 34px;
}
.push__servines-form label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #555555;
}
.push__servines-form label span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color:#ffc529
}
.push__servines-form button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0.05em;
    display: block;
    margin: 29px auto 0;
    background: #FFC529;
    border: none;
    box-shadow: 0px 0px 20px #ffd35d;
    border-radius: 100px;
    width: 171px;
    height: 40px;
    color: #fff;
}
.services-item__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    margin-bottom: 11px;
}
.services-item__btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #555555;
    margin-bottom: 46px;
    border: 2px solid #FFC529;
    border-radius: 100px;
    background: #fff;
    width: 213px;
    height: 40px
}
.services-item__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 28px;
    width: 241px;
    height: 241px;
    border-radius: 50%;
    background: linear-gradient(241.85deg, rgba(255, 197, 41, 0.4) 29.01%, rgba(255, 197, 41, 0) 84.65%);
}
.services-item__img div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 208.87px;
    height: 208.54px;
    background: linear-gradient(228.25deg, rgba(255, 197, 41, 0.5) 20.77%, rgba(255, 197, 41, 0) 92.55%);
    clip-path: polygon(0% 0%, 0% 150%, 200% 0%, 50% 0%, 50% 50%, 0% 50%);
    border-radius: 50%;
}
.services-item__img img {
    position: relative;
    z-index: 2;
    background-color: #ffc529;
    border: 4.5px solid #ffc529;
    border-radius: 50%;
    box-sizing: border-box;
}
.services-load__services-box {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #ffc529;
    border: none;
    background-color: #fff;
}

.services-load__services-box span {
    margin-left: 10px;
    border:  solid #ffc529;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    padding: 5px;
    display: inline-block;
    position: relative;
    bottom: 3px;
}
.work-client__BG {
    background-image: url('../img/midBG.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.work-client__BG-color {
    background: linear-gradient(#151515 0%, rgba(21, 21, 21, 0.8) 50%, #151515 100%);
    padding: 170px 0 124px;
}

.work-client__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 92px;
}
.work-client__title span {
    font-weight: 700;
}
.work-client__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work-client__box {
    height: 258px;
    width: 360px;
}
.item__work-client__img {
    margin-bottom: 20px;
    height: 90px;
    width: 90px;
}
.work-client__box figcaption {
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 147px;
}
.item__work-client__numb-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: linear-gradient(241.85deg, rgba(255, 255, 255, 0.1) 29.01%, rgba(255, 255, 255, 0) 84.65%);
}
.item__work-client__numb-bg {
    width: 45.7px;
    height: 45.7px;
    background: linear-gradient(228.25deg, rgba(255, 255, 255, 0.5) 20.77%, rgba(255, 255, 255, 0) 92.55%);
    clip-path: polygon(0% 0%, 0% 150%, 200% 0%, 50% 0%, 50% 50%, 0% 50%);
    border-radius: 50%;
}
.item__work-client__numb-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 35px;
    height: 35px;
    background: #FFC529;
    border-radius: 50%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #151515;
}
.work-client__box figcaption section {
    width: 292px;
    height: 134px;
}
.item__work-client__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    margin-top: 13.5px;
}
.item__work-client__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
}

.reviews__bg {
    padding: 170px 0;
}
.reviews-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 76px;
}
.reviews-title span {
    font-weight: 700;
    margin-left: 10px;
}
.reviews-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.reviews-box__items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.reviews-box__items img {
    position: relative;
    z-index: 2;
    display: block;
}
.item__reviews-bg {
    width: 0; 
    height: 0;
    border-bottom: 265px solid #ffc529;
    border-left: 350px solid transparent;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}
.item__reviews__numb-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99px;
    height: 99px;
    border-radius: 50%;
    background: linear-gradient(241.85deg, rgba(255, 255, 255, 0.1) 29.01%, rgba(255, 255, 255, 0) 84.65%);
    position: absolute;
    z-index: 3;
}
.item__reviews__numb-bg {
    width: 82.26px;
    height: 82.13px;
    background: linear-gradient(228.25deg, rgba(255, 255, 255, 0.5) 20.77%, rgba(255, 255, 255, 0) 92.55%);
    clip-path: polygon(0% 0%, 0% 150%, 200% 0%, 50% 0%, 50% 50%, 0% 50%);
    border-radius: 50%;
}
.item__reviews__numb-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 63px;
    height: 63px;
    background-color: #fff;
    border-radius: 50%;
}
.item__reviews__numb-cont-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-left: 25px solid #ffc529;
    border-bottom: 12.5px solid transparent;
    margin-left: 17px;
    background: #fff;
    border-right: none;
    cursor: pointer;
}
.bot__bg {
    background-image: url('../img/botBG.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 68%;
}
.dignity-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
.dignity-title span {
    font-weight: 700;
    margin-left: 10px;
}
.dignity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}
.dignity-box {
    min-height: 404px;
}
.item-dignity-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    width: 241px;
    height: 241px;
    border-radius: 50%;
    background: linear-gradient(241.85deg, rgba(255, 197, 41, 0.4) 29.01%, rgba(255, 197, 41, 0) 84.65%);
}
.item-dignity-img div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 208.87px;
    height: 208.54px;
    background: linear-gradient(228.25deg, rgba(255, 197, 41, 0.5) 20.77%, rgba(255, 197, 41, 0) 92.55%);
    clip-path: polygon(0% 0%, 0% 150%, 200% 0%, 50% 0%, 50% 50%, 0% 50%);
    border-radius: 50%;
}
.item-dignity-img img {
    position: relative;
    z-index: 2;
    background-color: #ffc529;
    border: 4.5px solid #ffc529;
    border-radius: 50%;
    box-sizing: border-box;
}
.item-dignity-box {
    width: 360px;
    height: 120px;
}
.item-dignity-box h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 15px;
}
.item-dignity-box h4 span {
    font-weight: 700;
    margin-left: 10px;
}
.item-dignity-box p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #333333;
}

.risk {
    margin-top: 170px;
}
.risk-container {
    display: flex;
    justify-content: space-between;
    margin-top: 66px;
    padding-bottom: 139px;
}
.risk-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.risk-title span {
    font-weight: 700;
    margin-left: 10px;
}
.item__risk-box {
    display: flex;
    align-items: center;
}
.item__risk-box__img {
    margin-right: 15px;
    height: 55px;
    width: 55px;
}
.item__risk-box__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #fff;
}
.item__risk-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    width: 263px;
    margin-top: 21px;
}

.foot__bg {
    background: #151515;
    padding: 61px 0;
}
.foot {
    text-align: center;
}
.foot-logo {
    text-decoration-line: none;
}
.foot-logo p {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 18px;
}
.foot-logo p span {
    -webkit-text-stroke: 1px #fff;
    color: #0000;
    margin-right: 10px;
}
.foot-box__contact {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.foot-box__contact a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    text-decoration-line: none;
}
.foot-box__social {
    
    margin-top: 52px;
}
.foot-box__social a:first-of-type {
    margin-right: 25px;
}
.foot-box__social a {
    font-size: 34px;
    color: #fff;
    text-decoration-line: none;
}
.webGeneranot {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-decoration-line: none;
    margin-top: 30px;
    display: block;
}
.webGeneranot span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration-line: underline;
}
