/*
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*_________container-wich*/
html {
    scroll-behavior: smooth;
}
.open-sans__w-400 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    box-sizing: border-box;
}
.links-hover:hover {
    box-shadow: 0 0 20px #ffc529; 
    background-color: #ffc529;
}
.addres-hovers:hover ._icon-phone {
    text-shadow: 0 0 20px #ffc529;
}
.addres-hovers:hover ._icon-e-mail {
    text-shadow: 0 0 20px #ffc529;
}
.addres-hovers:hover ._icon-geo-map {
    text-shadow: 0 0 20px #ffc529;
}
.links-hover-soc:hover {
    color: #ffc529;
}
.spans-arrow-bot {
    margin-left: 10px;
    border:  solid #ffc529;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    padding: 5px;
    display: inline-block;
    position: relative;
    bottom: 3px;
    box-sizing: border-box;
}
.spans-arrow-top {
    margin-left: 10px;
    border:  solid #ffc529;
    border-width: 0 3px 3px 0;
    transform: rotate(225deg);
    padding: 5px;
    display: inline-block;
    position: relative;
    bottom: -4px;
    left: 3px;
    box-sizing: border-box;
}
/*-----------------------------------------------------------------------------------*/
.flex-mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hed__bg {
    position: fixed;
    background: #00000090;
    width: 100vw;
    z-index: 10000;
}
.hed {
    height: 97px;
}
.hed__logo {
    display: flex;
    align-items: center;
}
.hed__logo img {
    margin-right: 10px;
}
.hed__logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    text-decoration-line: none;
}
.hed__logo span {
    -webkit-text-stroke: 1px #fff;
    color: #0000;
    margin-right: 10px;
}
.hed__contact a {
    
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #ffc529;
    text-decoration-line: none;
    margin-right: 33px;
}
.item-hed__callback {
    
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #fff;
    height: 45px;
    width: 186px;
    background: #FFC529;
    border-radius: 100px;
    border: none;
    margin-right: 18px;
    cursor: pointer;
}
.hed__lang-sub {
    width: 142px;
    height: 45px;
    background: #232421;
    border: 1px solid #606060;
    box-sizing: border-box;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hed__lang-sub li span {
    border: solid #606060;
    border-width: 0 1.2px 1.2px 0;
    transform: rotate(45deg);
    padding: 5px;
    display: inline-block;
    position: relative;
    bottom: 3px;
    margin-left: 10px;
}
.hed__lang-sub li {
    font-size: 14px;
    line-height: 22px;
    color: #e1e1e1;
}
.hed__lang-sub a {
    font-size: 14px;
    line-height: 22px;
    color: #e1e1e1;
    text-decoration-line: none;
}
.hed__lang-ru::before {
    content: url('../img/RU.png');
    margin-right: 7px;
}
.hed__lang-uk::before {
    content: url('../img/Uk.png');
    margin-right: 7px;
}
.hed__lang-eng::before {
    content: url('../img/USA.png');
    margin-right: 7px;
}
.hed__lang-sub-sub {
    text-align: center;
    background: #232421;
    border: 1px solid #606060;
    border-radius: 10px;
    box-sizing: border-box;
    width: 142px;
    position: absolute;
    top: 4.4em;
    z-index: 5;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: 0.5s ease-in-out;
}
.hed__lang-sub-sub li {
    margin-top: 5px;
}
.hed__lang-sub .hed__lang-ru:hover .hed__lang-sub-sub {
    opacity: 1;
    transform: scaleY(1);
}
.selection-cars__BG {
    background-image: url(../img/topBG.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    padding-bottom: 80px;
    box-sizing: border-box;
    background-position: bottom;
}
.selection-cars {
    padding-top: 120px;
}
.item-menu {
    
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    list-style-type: none;
}
.item-menu a {
    color: #fff;
    text-decoration-line: none;
}
.item-menu {
    position: relative;
}
.item-menu::after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    bottom: -10px;
    left: 0;
    right: 0;
    background-color: #ffc529;
    transition: all 1s;
}
.item-menu:hover::after {
    width: 100%;
    box-shadow: 0 0 10px 0 #ffc529;
}
.selection-cars__title {
    
    font-weight: 800;
    font-size: 64px;
    line-height: 87px;
    text-transform: uppercase;
    color: #fff;
    margin-top: 83px;
}
.selection-cars__title span {
    display: inline-block;
    -webkit-text-stroke: 2px #fff;
    color: #0000;  
}
.selection-cars__services {
    display: flex;
    justify-content: space-evenly;
    margin: 135px 0 0;
}
.services-items__first-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background: linear-gradient(241.85deg, rgba(255, 255, 255, 0.4) 29.01%, rgba(255, 255, 255, 0) 84.65%);
}
.services-items__first-cont div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 151.67px;
    height: 151.43px;
    background: linear-gradient(228.25deg, rgba(255, 255, 255, 0.5) 20.77%, rgba(255, 255, 255, 0) 92.55%);
    clip-path: polygon(0% 0%, 0% 150%, 200% 0%, 50% 0%, 50% 50%, 0% 50%);
    border-radius: 50%;
}
.services-items img {
    position: relative;
    z-index: 2;
    background-color: #ffc529;
    border: 4.5px solid #ffc529;
    border-radius: 50%;
    box-sizing: border-box;
}
.services-items figcaption {
    margin-top: 11px;
    min-width: 220px;
}
.services-text {
    
    
    font-size: 24px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
}
.services-text span {
    margin-left: 10px;
    font-weight: 700;
}

.advantages {
    margin-top: 170px;
}
/*----------------------------------------------*/
div.advantages .off-dispay {
    display: none;
}
/*----------------------------------------------*/

.advantages-title {
    
    
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 70px;
}
.advantages-title span {
    margin-left: 10px;
    font-weight: 700;
}
.case-advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-advantages {
    display: flex;
    align-items: end;
    flex: 33.33333%;
    padding: 0 10px;
    box-sizing: border-box;
}
.item-advantages {
    margin-right: 18px;
}
.text-advantages {
    
    
    font-size: 15px;
    line-height: 22px;
    color: #555555;
    margin-top: 9px;
}
.services {
    margin: 170px auto 150px;
    text-align: center;
}



.services-title {
    
    
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 70px;
}
.services-title span {
    font-weight: 700;
    margin-left: 10px;
}
.services-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services-box {
    text-align: center;
}
.services-item__title {
    
    
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 31px;
}
.services-item__title span {
    font-weight: 700;
    margin-left: 10px;
}
.services-item__params {
    display: flex;
}
.services-item__params {
    
    display: block;
    font-size: 16px;
    line-height: 19px;
    color: #555555;
    margin-bottom: 20px;
}
.services-item__params i {
    color:#ffc529;
    margin-right: 9px;
}
.push__servines-form {
    margin: 24px 0 34px;
}
.push__servines-form label {
    
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #555555;
}
.push__servines-form label span {
    
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color:#ffc529
}
.push__servines-form button {
    
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0.05em;
    display: block;
    margin: 29px auto 0;
    background: #ffc529;
    border: none;
    border-radius: 50px;
    width: 171px;
    height: 40px;
    color: #fff;
    cursor: pointer;
}
.services-item__text {
    
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #555555;
    margin-bottom: 11px;
}
.services-item__btn {
    
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #555555;
    margin-bottom: 46px;
    border: 2px solid #ffc529;
    border-radius: 100px;
    background: #fff;
    width: 213px;
    height: 40px;
    cursor: pointer;
}
.services-item__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 28px;
    width: 241px;
    height: 241px;
    border-radius: 50%;
    background: linear-gradient(241.85deg, rgba(255, 197, 41, 0.4) 29.01%, rgba(255, 197, 41, 0) 84.65%);
}
.services-item__img div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 208.87px;
    height: 208.54px;
    background: linear-gradient(228.25deg, rgba(255, 197, 41, 0.5) 20.77%, rgba(255, 197, 41, 0) 92.55%);
    clip-path: polygon(0% 0%, 0% 150%, 200% 0%, 50% 0%, 50% 50%, 0% 50%);
    border-radius: 50%;
}
.services-item__img img {
    position: relative;
    z-index: 2;
    background-color: #ffc529;
    border: 4.5px solid #ffc529;
    border-radius: 50%;
    box-sizing: border-box;
}
.services-load__services-box {
    
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #ffc529;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
/*----------------------------------------------*/
    .load-more-container ul .disp-init-services:nth-child(1n+4) {
        max-height: 0;
        opacity: 0;
        transition: 0.3s ease-in;
    }
    .load-more-container .load-more-btn-services {
        position: relative;
        z-index: 1000;
        margin: 0 auto;
        display: block;
        cursor: pointer;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #FFC529;
    }
    .unloaded, .loaded {
        position: relative;
        top: 4px;
    }
    .load-more-container .load-more-btn-services:hover {
        background: #fff
    }
    .load-more-container .load-more-btn-services .loaded {
        display: none;
    }
    .load-more-container #load-more-services {
        display: none;
    }
    .load-more-container #load-more-services:checked ~ ul .disp-init-services:nth-child(1n+4) {
        max-height: 2999px;
        opacity: 1;
        transition: 0.3s ease-in;
    }
    .load-more-container #load-more-services:checked ~ .load-more-btn-services .loaded {
        display: block;
    }
    .load-more-container #load-more-services:checked ~ .load-more-btn-services .unloaded {
        display: none;
    } 
/*----------------------------------------------*/

.work-client__BG {
    background-image: url('../img/midBG.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.work-client__container-lou {
    display: none;
}
.work-client__BG-color {
    background: linear-gradient(#151515 0%, rgba(21, 21, 21, 0.8) 50%, #151515 100%);
    padding: 170px 0 124px;
}
.work-client__title {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 92px;
}
.work-client__title span {
    font-weight: 700;
    margin-left: 10px;
}
.work-client__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work-client__box {
    max-height: 258px;
    max-width: 360px;
    flex: 0 1 33.33333%;
    margin-bottom: 26px;
    padding-bottom: 54px;
}
.item__work-client__img {
    margin-bottom: 20px;
    height: 90px;
    width: 90px;
}
.work-client__box figcaption {
    display: flex;
    justify-content: space-between;
}
.item__work-client__numb-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: 0;
    padding: 27.5px;
    border-radius: 50%;
    background: linear-gradient(241.85deg, rgba(255, 255, 255, 0.1) 29.01%, rgba(255, 255, 255, 0) 84.65%);
}
.item__work-client__numb-bg {
    width: 0;
    height: 0;
    padding: 22.85px;
    background: linear-gradient(228.25deg, rgba(255, 255, 255, 0.5) 20.77%, rgba(255, 255, 255, 0) 92.55%);
    clip-path: polygon(0% 0%, 0% 150%, 200% 0%, 50% 0%, 50% 50%, 0% 50%);
    border-radius: 50%;
}
.item__work-client__numb-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 0;
    height: 0;
    padding: 17.5px;
    background: #ffc529;
    border-radius: 50%;
    
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: #151515;
}
.work-client__box figcaption section {
    box-sizing: border-box;
    padding-left: 20px;
    flex: 0 1 84.5%;
}
.item__work-client__title {
    
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    margin-top: 13.5px;
}
.item__work-client__text {
    
    
    font-size: 14px;
    line-height: 21px;
    color: #fff;
}

.reviews__bg {
    padding: 170px 0;
}
.reviews-title {
    
    
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 70px;
}
.reviews-title span {
    font-weight: 700;
    margin-left: 10px;
}
.reviews-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.reviews-box__items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}
.reviews-box__items img {
    position: relative;
    z-index: 2;
    display: block;
}
.item__reviews-bg {
    width: 0; 
    height: 0;
    border-bottom: 265px solid #ffc529;
    border-left: 350px solid transparent;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}
.item__reviews__numb-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99px;
    height: 99px;
    border-radius: 50%;
    background: linear-gradient(241.85deg, rgba(255, 255, 255, 0.1) 29.01%, rgba(255, 255, 255, 0) 84.65%);
    position: absolute;
    z-index: 3;
}
.item__reviews__numb-bg {
    width: 82.26px;
    height: 82.13px;
    background: linear-gradient(228.25deg, rgba(255, 255, 255, 0.5) 20.77%, rgba(255, 255, 255, 0) 92.55%);
    clip-path: polygon(0% 0%, 0% 150%, 200% 0%, 50% 0%, 50% 50%, 0% 50%);
    border-radius: 50%;
}
.item__reviews__numb-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 63px;
    height: 63px;
    background-color: #fff;
    border-radius: 50%;
}
.item__reviews__numb-cont-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-left: 25px solid #ffc529;
    border-bottom: 12.5px solid transparent;
    margin-left: 17px;
    background: #fff;
    border-right: none;
    cursor: pointer;
}
.bot__bg {
    background-image: url('../img/botBG.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 68%;
}
.dignity-title {
    
    
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 70px;
}
.dignity-title span {
    font-weight: 700;
    margin-left: 10px;
}
.dignity-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.dignity-box {
    min-height: 404px;
    flex: 0 1 33.33333%;
    margin-bottom: 15px;
}
.item-dignity-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    width: 241px;
    height: 241px;
    border-radius: 50%;
    background: linear-gradient(241.85deg, rgba(255, 197, 41, 0.4) 29.01%, rgba(255, 197, 41, 0) 84.65%);
}
.item-dignity-img div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 208.87px;
    height: 208.54px;
    background: linear-gradient(228.25deg, rgba(255, 197, 41, 0.5) 20.77%, rgba(255, 197, 41, 0) 92.55%);
    clip-path: polygon(0% 0%, 0% 150%, 200% 0%, 50% 0%, 50% 50%, 0% 50%);
    border-radius: 50%;
}
.item-dignity-img img {
    position: relative;
    z-index: 2;
    width: 182.09px;
    height: 182.09px;
    background-color: #ffc529;
    border: 4.5px solid #ffc529;
    border-radius: 50%;
    box-sizing: border-box;
}
.item-dignity-box {
    max-width: unset;
    max-height: 120px;
}
.item-dignity-box h4 {
    
    
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 15px;
}
.item-dignity-box h4 span {
    font-weight: 700;
    margin-left: 10px;
}
.item-dignity-box p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #333333;
}
.risk {
    margin-top: 170px;
}
.risk-title {
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 70px;
}
.risk-title span {
    font-weight: 700;
    margin-left: 10px;
}
.risk-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 139px;
}

.risk-box {
    flex: 0 1 50%;
    margin-bottom: 10px;
    max-width: 285px;
}
.item__risk-box {
    display: flex;
    align-items: center;
}
.item__risk-box__img {
    margin-right: 15px;
    height: 55px;
    width: 55px;
}
.item__risk-box__title {
    
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #fff;
}
.item__risk-text {
    
    
    font-size: 15px;
    line-height: 22px;
    color: #fff;
    width: 263px;
    margin-top: 21px;
}

.foot__bg {
    background: #151515;
    padding: 61px 0;
}
.foot {
    text-align: center;
}
.foot-logo {
    text-decoration-line: none;
}
.foot-logo p {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    margin-top: 18px;
}
.foot-logo p span {
    -webkit-text-stroke: 1px #fff;
    color: #0000;
    margin-right: 10px;
}
.foot-box__contact {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
}
.foot-box__contact a {
    
    
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    text-decoration-line: none;
}
.foot-box__social {
    
    margin-top: 52px;
}
.foot-box__social a:first-of-type {
    margin-right: 25px;
}
.foot-box__social a {
    font-size: 34px;
    color: #fff;
    text-decoration-line: none;
}
.webGeneranot {
    
    
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-decoration-line: none;
    margin-top: 30px;
    display: block;
}
.webGeneranot span {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-decoration-line: underline;
}
.off-dispay {
    display: none;
}
@media screen and (max-width: 1280px) { 
    .container {
        max-width: 964px;
    }
    .hed__contact a,
    .item-hed__callback {
        margin-right: 0;
    }
    /*--------------------services--------------------------*/
    
    .load-more-container ul .disp-init-services:nth-child(1n+3) {
        max-height: 0;
        opacity: 0;
        transition: 0.1s ease-in;
    }
    .load-more-container #load-more-services:checked ~ ul .disp-init-services:nth-child(1n+3) {
        max-height: 999px;
        opacity: 1;
        transition: 0.2s ease-in;
    }
    /*-----------------------services-----------------------*/
}
@media screen and (max-width: 1024px) {
    .container {
        max-width: 748px;
        padding: 0 10px;
    }
    .hed__contact a,
    .item-hed__callback {
        margin-right: 10px;
    }
    .hed__logo {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    .hed__logo img {
        width: 51px;
        height: 37px;
    }
    .flex-mid {
        flex-wrap: wrap;
    }
    .item-menu {
        flex: 0 1 25%;
        margin-bottom: 25px;
    }
    .selection-cars__title {
        font-size: 46px;
        line-height: 66px;
    }
    .selection-cars__title span {
        -webkit-text-stroke: 1px #fff;
    }
    .selection-cars__BG {
        background-size: cover;
    }
    .selection-cars {
        padding-top: 120px;
    }
    .dignity-title span {
        display: block;
    }
    /*-----------------------advantages-----------------------*/
    div.advantages .off-dispay {
        display: block;
    }
    .load-more-container ul .disp-init-advantages:nth-child(1n+5) {
        max-height: 0;
        opacity: 0;
        transition: 0.1s ease-in;
    }
    .load-more-container .load-more-btn {
        position: relative;
        z-index: 1000;
        width: 179px;
        height: 40px;
        margin: 0 auto;
        display: block;
        border: 2px solid #FFC529;
        border-radius: 100px;
        cursor: pointer;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        color: #FFC529;
    }
    .unloaded, .loaded {
        position: relative;
        top: 4px;
    }
    .load-more-container .load-more-btn:hover {
        background: #fff
    }
    .load-more-container .load-more-btn .loaded {
        display: none;
    }
    .load-more-container #load-more-advantages {
        display: none;
    }
    .load-more-container #load-more-advantages:checked ~ ul .disp-init-advantages:nth-child(1n+5) {
        max-height: 999px;
        opacity: 1;
        transition: 0.2s ease-in;
    }
    .load-more-container #load-more-advantages:checked ~ .load-more-btn .loaded {
        display: block;
    }
    .load-more-container #load-more-advantages:checked ~ .load-more-btn .unloaded {
        display: none;

    }
    /*---------------------advantages-------------------------*/
    .box-advantages {
        flex: 0 1 50%;
        margin-bottom: 10px;
    }
    .foot-box__contact a {
        flex: 0 1 100%;
        margin-bottom: 20px;
    }
    .foot-box__contact a span {
        display: flex;
        justify-content: center;
    }
    .foot-box__contact {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }
    .burger__menu {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 10;
    }
    .burger__menu span {
        position: absolute;
        background-color: #fff;
        left: 0;
        top: 9px;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }
    .burger__menu::before,
    .burger__menu::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .burger__menu::before {
        top: 0;
    }
    .burger__menu::after {
        width: 80%;
        bottom: 0;
    }
    .burger__menu.active span {
        transform: scale(0);
    }
    .burger__menu.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .burger__menu.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
        width: 100%;
    }

    .burger__menu-box {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        padding: 70px 10px 20px 10px;
        box-sizing: border-box;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .burger__menu-box.active {
        top: 0;
    }
    .burger__menu-list {
        position: relative;
        z-index: 10;
        
    }
    .flex-mid {
        flex-direction: column;
    }











    .advantages-title,
    .services-title,
    .work-client__title,
    .reviews-title,
    .dignity-title,
    .risk-title {
        font-size: 24px;
        line-height: 33px;
    }
    .work-client__title span {
        display: block;
    }
    .advantages-title,
    .work-client__title,
    .services-title,
    .reviews-title,
    .dignity-title,
    .risk-title {
        margin-bottom: 35px;
    }

    .services-items__first-cont {
        width: 112.72px;
        height: 113.92px;
    }
    .services-items__first-cont div {
        width: 97.69px;
        height: 98.74px;
    }
    .services-items img {
        width: 85.17px;
        height: 86.08px;    
    }
    .services-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 22px;
        font-size: 20px;
    }
    .services-text span {
        margin: 5px 0 0;

    }
    .case-advantages {
        flex-direction: column;
    }
    /*--------------------advantages--------------------------*/
    
    .load-more-container ul .disp-init-advantages:nth-child(1n+4) {
        max-height: 0;
        opacity: 0;
        transition: 0.3s ease-in;
    }
    .load-more-container #load-more-advantages:checked ~ ul .disp-init-advantages:nth-child(1n+4) {
        max-height: 999px;
        opacity: 1;
        transition: 0.3s ease-in;
    }
    /*---------------------advantages-------------------------*/
    .item-advantages {
        width: 50px;
        height: 50px;
    }
    .advantages {
        margin-top: 70px;
    }
    /*--------------------services--------------------------*/
    
    .load-more-container ul .disp-init-services:nth-child(1n+2) {
        max-height: 0;
        opacity: 0;
        transition: 0.1s ease-in;
    }
    .load-more-container #load-more-services:checked ~ ul .disp-init-services:nth-child(1n+2) {
        max-height: 999px;
        opacity: 1;
        transition: 0.2s ease-in;
    }
    /*-----------------------services-----------------------*/
    .services {
        margin: 70px auto 50px;
    }
    .services-container {
        flex-direction: column;
    }
    
    .services-item__text {
        font-weight: 600;
        line-height: 18px;
    }
    .services-item__btn {
        letter-spacing: unset;
    }
    .services-item__img {
        width: 193.92px;
        height: 193.58px;
    }
    .services-item__img div {
        width: 168.07px;
        height: 167.77px;
    }
    .services-item__img img {
        width: 146.52px;
        height: 146.26px;
    }
    
    .work-client__BG-color {
        padding: 70px 0 70px;
    }
    .work-client__container {
        display: none;
    }
    .reviews__bg {
        padding: 70px 0;
    }
    .work-client__container-lou {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .work-client__title-lou {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #fff;
        margin-bottom: 15px;
    }
    .work-client__text-lou {
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        margin-bottom: 15px;
    }
    .work-client__box-lou {
        display: flex;
        margin-bottom: 15px;
    }
    .item__work-client__title, .item__work-client__text {
        margin-left: 25px;
    }
    .dignity-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dignity-box {
        min-height: unset;
    }
    .item-dignity-img {
        width: 151px;
        height: 151px;
    }
    .item-dignity-img div {
        width: 138.87px;
        height: 138.54px;
    }
    .item-dignity-img img {
        width: 122.09px;
        height: 122.09px;
    }
    .item-dignity-box h4 {
        font-size: 18px;
        line-height: 22px;
    }
    .risk {
        margin-top: 70px;
    }
    .item__risk-box__title {
        font-size: 22px;
    }
    .item__risk-box__img {
        height: 45px;
        width: 45px;
    }
    .bot__bg {
        background-size: 550vw 53%;
    }
}

@media screen and (max-width: 425px) {
    .container {
        max-width: 320px;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .selection-cars__title {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
    }
    .selection-cars__title span {
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
    }
    .selection-cars__services {
        justify-content: space-around;
    }
    .services-items figcaption {
        min-width: unset;
    }
    .services-item__title span {
        margin-left: 10px;
        display: block;
    }



    .item-dignity-box {
        max-width: 290px;
        max-height: unset;
    }
    .foot__bg {
        padding: 30px 0;
    }
}